.servicesContainer {
    height: auto;
    width: 100vw;
}

.servicesTitle {
    position: relative;
    font-size: 2.5rem;
    font-weight: 600;
}

.servicesTitle::after {
    content: '';
    display: block;
    position: absolute;
    top: 3.5rem;
    max-width: 3.5rem;
    width: 100%;
    height: 5px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-orange);
}

.servicesItem {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2,250px);
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
}

/* Logo */
.servicesItem .group {
    position: relative;
    max-width: 250px;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 3rem 0;
    text-transform: uppercase;
}

.servicesItem img {
    display: block;
    margin: auto;
    height: 50%;
    width: 40%;
}

.servicesItem .title {
    margin-top: 2rem;
    font-size: 1rem;
    text-align: center;
}

.servicesItem .item_overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    color: white;
    opacity: 0;
    transition: opacity 0.25s;
}

.item_overlay > * {
    transform: translateY(40px);
    transition: transform 0.25s;
}

.item_overlay .description {
    font-size: 0.8rem;
    padding-bottom: 0.9rem;
}

.item_overlay .item_link {
    /* text-decoration: none; */
    color: var(--color-orange);
}

/* Hover */
.item_overlay:hover {
    opacity: 1;
}

.item_overlay:hover > * {
    transform: translateY(0);
}


/* Bottom */
.moreServices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    gap: 1rem;
}

.moreServices .moreServicesTitle {
    position: relative;;
}

.moreServices .moreServicesTitle::after {
    content: '';
    display: block;
    position: absolute;
    top: 2.6rem;
    max-width: 3rem;
    width: 100%;
    height: 4px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-orange);
}

.moreServicesList {
    padding: 3rem 0;
}

.moreServicesList p {
    text-transform: uppercase;
    text-align: start;
    line-height: 0.9;
}

@media screen and (max-width: 1024px) {
    .servicesItem {
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: repeat(2,250px);
    }
}

@media screen and (max-width: 768px) {
    .servicesItem {
        grid-template-columns: repeat(2, 250px);
    }

    .servicesItem img {
        height: 40%;
        width: 30%;
    }

    .servicesItem .title {
        margin-top: 1.5rem;
        font-size: 0.95rem;
    }


    
}

@media screen and (max-width: 500px) {
    .servicesItem {
        grid-template-columns: repeat(1, 250px);
    }

    .moreServices {
        padding: 0 2rem;
    }
}