.company {
    width: 100vw;
    height: 25vh;
}

.wrapper {
    text-align: center;
}

.wrapper .companyTitle::after {
    content: '';
    display: block;
    position: absolute;
    top: 10rem;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 5px solid var(--color-orange);
}

.wrapper .brand {
    max-height: 70px;
    height: 100%;
    min-width: 180px;
}