.reviewContainer {
    width: 100vw;
    margin: 3rem auto;
}

.reviewTitle {
    position: relative;
    font-size: 2.5rem;
    font-weight: 600;
}

.reviewTitle::after {
    content: '';
    display: block;
    position: absolute;
    top: 3.5rem;
    max-width: 3.5rem;
    width: 100%;
    height: 5px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-orange);
    /* border-bottom: 5px solid var(--color-orange); */
}

.cardBody {
    max-width: 20rem;
    width: 100%;
    height: 20rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    cursor: pointer;

}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: start;
    background: transparent;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


/* .cardBody .card-text {
    width: 20em;
} */

/* Modal */
.modal .textbox {
    max-width: 27.2rem;
    width: 100%;
    height: auto;
    padding: 1rem;
}

.modalInfo .username, .number {
    max-width: 27rem;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .cardBody {
        width: 100%;
        height: 100%;
    }
}