.reviewContainer {
    width: 100%;
    height: auto;
    margin: 3rem auto;
}

.reviewTitle {
    position: relative;
    font-weight: 600;
}

.reviewTitle::after {
    content: '';
    display: block;
    position: absolute;
    top: 3.5rem;
    max-width: 3.5rem;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 5px solid var(--color-orange);
}

.cardBody {
    width: 20em;
    height: 20em;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
}

.cardBody .card-text {
    width: 20em;
}

/* Modal */
.modal .textbox {
    max-width: 27.2rem;
    width: 100%;
    height: auto;
    padding: 1rem;
}

.modalInfo .username, .number {
    max-width: 27rem;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .cardBody {
        width: 100%;
        height: 100%;
    }
    
}