button {
  position: relative;
  padding: 0.5rem 1rem;
  color: #181818;
  background-color: var(--color-yellow);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 500;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

button:hover {
  color: var(--color-yellow) !important;
  background-color: transparent;
}
button:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}
button:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: "";
  /* border: 1px solid var(--color-yellow); */
  color: var(--color-yellow) !important;
  background: var(--color-grey);
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
