.contacts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-grey);
}
.contacts-container_header {
  display: flex;
  justify-content: center;
  color: var(--color-white);
}
.contacts-container_header h1 {
  position: relative;
  padding: 10px;
  margin: 3rem;
}
.contacts-container_header h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 4px;
  width: 30%;
  transform: translateX(-50%);
  background-color: var(--color-orange);
}

.contacts-container_info {
  display: flex;
  width: 95%;
  margin: 0 auto;
  padding: 3rem;
}
.contacts-text_info {
  margin-right: auto;
  padding-right: 1rem;
}
.contacts-container_info img {
  height: 5rem;
  margin-bottom: 3rem;
}
.contacts-text_info p {
  color: var(--color-white);
  font-size: 1.5rem;
}
.contacts-text_info p:last-child {
  padding-bottom: 1rem;
}
.contacts-map_info {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

/* iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
} */

@media screen and (max-width: 1024px) {
  .contacts-container_info img {
    height: 4.5rem;
    margin-bottom: 3rem;
  }
  .contacts-text_info p {
    color: var(--color-white);
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 760px) {
  .contacts-container_info {
    flex-direction: column;
    padding: 1rem;
  }
  .contacts-container_info img {
    height: 4rem;
    margin-bottom: 2.5rem;
  }
  .contacts-text_info p {
    color: var(--color-white);
    font-size: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .contacts-container_info img {
    height: 3.5rem;
    margin-bottom: 2rem;
  }
  .contacts-text_info p {
    color: var(--color-white);
    font-size: 1rem;
  }
}
